
{% extends  'portfolio/base.html' %}

{% block content %}

    {% load static %}

    <h1>this is my first website using django</h1>
    <a href= "{% url 'blog:all_blogs' %}" >Blogs</a>
    <br>

    <a href={% static 'portfolio/dummy.pdf' %} >rusme</a>
    <br>


    <img src = {% static 'portfolio/earth.jpg' %} height="400" width="400" >

    <br>

    {% for project in projects %}

    {{ project.title }} <br>
    {{ project.description }}<br>
    <img src = '{{ project.image.url }}' height="400" width="400"/><br>

        {% if project.url %}

        <a href = '{{ project.url }}' >link</a>
        
        {% endif%}

    {% endfor %}

{% endblock %}